# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Виртуальные окружения
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Операционные системы
.DS_Store
Thumbs.db

# Логи
*.log

# Сборки
*.exe
*.app

# Временные файлы
*.tmp
*.bak
*.old

# Файлы логов переименования
rename_log.json
rename_history.json
